
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Assan 3</title>
        <!-- Plugins CSS -->
        <link href="css/plugins/plugins.css" rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="cubeportfolio/css/cubeportfolio.min.css">
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
        <div id="preloader">
            <div id="preloader-inner"></div>
        </div><!--/preloader-->

        <!-- Pushy Menu -
        <!-- Site Overlay -->
        <div class="site-overlay"></div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-transparent bg-faded nav-sticky">
            <div class="search-inline">
                <form>
                    <input type="text" class="form-control" placeholder="Type and hit enter...">
                    <button type="submit"><i class="ti-search"></i></button>
                    <a href="javascript:void(0)" class="search-close"><i class="ti-close"></i></a>
                </form>
            </div><!--/search form-->
            <div class="container">

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                </a>
                <div  id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown active">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Home</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="index.html" class="dropdown-item">Home 1 - Slider</a></li>
                                <li><a href="index-02.html" class="dropdown-item">Home 2 - Particle</a></li>
                                <li><a href="index-03.html" class="dropdown-item">Home 3 - Carousel</a></li>
                                <li><a href="index-04.html" class="dropdown-item">Home 4 - Text animation</a></li>
                                <li><a href="index-05.html" class="dropdown-item">Home 5 - Youtube hero</a></li>


                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Multi Level 1</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                                        <li><a href="#" class="dropdown-item">Multi Level 2</a></li>
                                        <li class="dropdown-submenu"><a tabindex="-1" href="#" class="dropdown-item">Multi Level 2</a>
                                            <ul class="dropdown-menu">
                                                <li> <a href="#" class="dropdown-item">Multi Level 3</a></li>
                                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                                                <li><a href="#" class="dropdown-item">Multi Level 3</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                Pages
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-about.html"> About Modern</a></li>
                                                    <li><a href="page-about-alt.html"> About Simple</a></li>
                                                    <li><a href="page-team.html"> Our Team</a></li>
                                                    <li><a href="page-services.html"> Services</a></li>
                                                    <li><a href="page-service-alt.html"> Services 2</a></li>
                                                    <li><a href="page-contact-basic.html"> Contact basic </a></li>
                                                    <li><a href="page-contact-advanced.html"> Contact Advanced</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-faq.html"> Faqs</a></li>
                                                    <li><a href="page-pricing.html"> Pricing Plans</a></li>
                                                    <li><a href="page-sec-navbar.html"> Secondary navbar</a></li>
                                                    <li><a href="page-clients.html"> Our Clients</a></li>
                                                    <li><a href="page-career.html"> Career</a></li>
                                                    <li><a href="page-office.html"> Our Office</a></li>
                                                    <li><a href="page-custom-header.html"> Custom Header</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-full-width.html"> Full width</a></li>
                                                    <li><a href="page-left-sidebar.html"> Left Sidebar</a></li>
                                                    <li><a href="page-right-sidebar.html"> Right sidebar</a></li>
                                                    <li><a href="page-both-sidebar.html"> Both Sidebar</a></li>
                                                    <li><a href="page-coming-soon.html"> Coming soon</a></li>
                                                    <li><a href="page-coming-soon2.html"> Coming Soon alt</a></li>
                                                    <li><a href="page-blank.html"> Blank page</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-3">

                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="page-login.html"> Login</a></li>
                                                    <li><a href="page-register.html"> Register</a></li>
                                                    <li><a href="page-fpassword.html">Forget password</a></li>
                                                    <li><a href="page-success.html"> Success page</a></li>
                                                    <li><a href="page-maintenence.html"> Maintenence mode</a></li>
                                                    <li><a href="page-404-video.html"> 404 video</a></li>
                                                    <li><a href="page-404-particle.html"> 404 Particle</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
                                Portfolio
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <p class="text-muted">Powered by cube portfolio</p>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid overlay</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-2.html"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-3.html"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-4.html"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-5.html"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-6.html"> 6 Columns</a></li>
                                                    <li><hr></li>
                                                    <li><a href="folio-ajax-load.html">Ajax - Load More</a></li>

                                                    <li><a href="folio-ajax-modal.html"> Ajax - Modal</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Titles</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-title-2.html"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-title-3.html"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-title-4.html"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-title-5.html"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-title-6.html"> 6 Columns</a></li>
                                                    <li><a href="folio-grid-title-nm-2.html"> No Margin 2 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-3.html"> No Margin 3 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-4.html"> No Margin 4 columns</a></li>
                                                    <li><a href="folio-grid-title-nm-5.html"> No Margin 5 columns</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Full width</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-grid-fw-2.html"> 2 Columns</a></li>
                                                    <li><a href="folio-grid-fw-3.html"> 3 Columns</a></li>
                                                    <li><a href="folio-grid-fw-4.html"> 4 Columns</a></li>
                                                    <li><a href="folio-grid-fw-5.html"> 5 Columns</a></li>
                                                    <li><a href="folio-grid-fw-6.html"> 6 Columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-2.html"> No Margin 2 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-3.html"> No Margin 3 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-4.html"> No Margin 4 columns</a></li>
                                                    <li><a href="folio-grid-fw-nm-5.html"> No Margin 5 columns</a></li>
                                                </ul>

                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Grid Masonry</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="folio-masonry-2.html"> 2 Columns</a></li>
                                                    <li><a href="folio-masonry-3.html"> 3 Columns</a></li>
                                                    <li><a href="folio-masonry-4.html"> 4 Columns</a></li>
                                                    <li><a href="folio-mosaic-contained.html"> mosaic contained</a></li>
                                                    <li><a href="folio-mosaic-full.html"> Mosaic Full width</a></li>
                                                    <li><hr></li>
                                                    <li><a href="folio-single-gallery.html">Single - Gallery</a></li>
                                                    <li><a href="folio-single-video.html"> Single - Video</a></li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Blog</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="blog-contained.html" class="dropdown-item">Contained</a></li>
                                <li><a href="blog-sidebar-left.html" class="dropdown-item">Left Sidebar</a></li>
                                <li><a href="blog-sidebar-right.html" class="dropdown-item">Right Sidebar</a></li>
                                <li><a href="blog-masonry.html" class="dropdown-item">Masonry</a></li>
                                <li><a href="blog-masonry-sidebar.html" class="dropdown-item">Masonry sidebar</a></li>
                                <li><a href="blog-lg-post-grid.html" class="dropdown-item">Large post grid</a></li>
                                <li><a href="blog-timeline.html" class="dropdown-item">Timeline</a></li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Single Post</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="post-image.html" class="dropdown-item">Image</a></li>
                                        <li><a href="post-gallery.html" class="dropdown-item">Gallery</a></li>
                                        <li><a href="post-video.html" class="dropdown-item">Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Features</a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Headers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="header-light-top-bar.html" class="dropdown-item">Light top bar</a></li>
                                        <li><a href="header-dark-top-bar.html" class="dropdown-item">Dark top bar</a></li>
                                        <li><a href="header-transparent-dark.html" class="dropdown-item">Transparent Dark</a></li>
                                        <li><a href="header-transparent-light.html" class="dropdown-item">Transparent Light</a></li>
                                        <li><a href="header-center-logo.html" class="dropdown-item">Center logo</a></li>
                                        <li><a href="header-center-navbar.html" class="dropdown-item">Center Navbar</a></li>
                                        <li><a href="header-sticky-dark.html" class="dropdown-item">Sticky dark</a></li>
                                        <li><a href="header-sticky-light.html" class="dropdown-item">Sticky light</a></li>
                                        <li><a href="header-after-hero.html" class="dropdown-item">After hero</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Footers</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="footer-1.html" class="dropdown-item">Footer 1</a></li>
                                        <li><a href="footer-2.html" class="dropdown-item">Footer 2</a></li>
                                        <li><a href="footer-3.html" class="dropdown-item">Footer 3</a></li>
                                        <li><a href="footer-4.html" class="dropdown-item">Footer 4</a></li>
                                        <li><a href="footer-5.html" class="dropdown-item">Footer 5</a></li>
                                        <li><a href="footer-6.html" class="dropdown-item">Footer 6</a></li>
                                        <li><a href="footer-7.html" class="dropdown-item">Footer 7</a></li>
                                    </ul>
                                </li>
                                <li class=" dropdown-submenu dropdown">
                                    <a tabindex="-1" href="#" class="dropdown-item">Slider & Heros</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="hero-particle.html" class="dropdown-item">Hero Particle</a></li>
                                        <li><a href="hero-parallax.html" class="dropdown-item">Hero Parallax</a></li>
                                        <li><a href="hero-youtube.html" class="dropdown-item">Hero youtube</a></li>
                                        <li><a href="hero-vimeo.html" class="dropdown-item">Hero Vimeo</a></li>
                                        <li><a href="hero-agency.html" class="dropdown-item">Hero Agency</a></li>
                                        <li><a href="slider-particle.html" class="dropdown-item">Slider Particle</a></li>
                                        <li><a href="slider-small.html" class="dropdown-item">Slider Small</a></li>
                                        <li><a href="slider-text.html" class="dropdown-item">Slider Text</a></li>
                                        <li><a href="slider-carousel.html" class="dropdown-item">Slider Carousel</a></li>
                                        <li><a href="slider-kenburns.html" class="dropdown-item">Slider Ken burns</a></li>
                                        <li><a href="slider-image.html" class="dropdown-item">Slider Image</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown dropdown-full-width">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Elements
                            </a>
                            <ul class="dropdown-menu dropdown-mega-fw">
                                <li class="container">
                                    <div class="mega-menu-content">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 1</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-buttons.html"><i class="ti-settings"></i> Buttons</a></li>
                                                    <li><a href="shortcode-animations.html"><i class="ti-wand"></i> Animations</a></li>
                                                    <li><a href="shortcode-social-buttons.html"><i class="ti-facebook"></i> Social Buttons</a></li>
                                                    <li><a href="shortcode-carousel.html"><i class="ti-slice"></i> Carousel</a></li>
                                                    <li><a href="shortcode-clients.html"><i class="ti-apple"></i> Clients</a></li>
                                                    <li><a href="shortcode-columns.html"><i class="ti-align-center"></i> Columns</a></li>
                                                    <li><a href="shortcode-alerts.html"><i class="ti-close"></i> Alerts</a></li>
                                                    <li><a href="shortcode-page-titles.html"><i class="ti-heart"></i> Page Titles</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 2</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-icon-box.html"><i class="ti-light-bulb"></i> Icon Boxes</a></li>
                                                    <li><a href="shortcode-parallax.html"><i class="ti-image"></i> Parallax</a></li>
                                                    <li><a href="shortcode-flex-box.html"><i class="ti-star"></i> flex boxes</a></li>
                                                    <li><a href="shortcode-promo-box.html"><i class="ti-tag"></i> Promo Boxes</a></li>
                                                    <li><a href="shortcode-lightbox.html"><i class="ti-plus"></i> Lightbox</a></li>
                                                    <li><a href="shortcode-testimonials.html"><i class="ti-comments"></i> Testimonials</a></li>
                                                    <li><a href="shortcode-counter.html"><i class="ti-calendar"></i> Counter & Countdowns</a></li>
                                                    <li><a href="shortcode-icons.html"><i class="ti-flag"></i> icons</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 3</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-tabs.html"><i class="fa fa-cog"></i> Tabs</a></li>
                                                    <li><a href="shortcode-accordions.html"><i class="fa fa-magic"></i> Accordions</a></li>
                                                    <li><a href="shortcode-progressbars.html"><i class="ti-align-left"></i> Progress bars</a></li>
                                                    <li><a href="shortcode-typography.html"><i class="ti-text"></i> Typography</a></li>
                                                    <li><a href="shortcode-card.html"><i class="ti-layout-tab-window"></i> Cards</a></li>
                                                    <li><a href="shortcode-tables.html"><i class="ti-clipboard"></i> Tables</a></li>
                                                    <li><a href="shortcode-sticky-elements.html"><i class="fa fa-arrow-circle-up"></i> Sticky Elements</a></li>
                                                    <li><a href="shortcode-pricing-tables.html"><i class="ti-credit-card"></i> Pricing Tables</a></li>

                                                </ul>

                                            </div>
                                            <div class="col-lg-3">
                                                <h4 class="mega-title">Shortcode 4</h4>
                                                <ul class="mega-inner-nav list-unstyled">
                                                    <li><a href="shortcode-charts.html"><i class="ti-bar-chart"></i> Charts</a></li>
                                                    <li><a href="shortcode-responsive-videos.html"><i class="ti-control-play"></i> Responsive Videos</a></li>
                                                    <li><a href="shortcode-gmap.html"><i class="ti-map"></i> Google Map</a></li>

                                                    <li><a href="shortcode-modals.html"><i class="ti-close"></i> Modals</a></li>
                                                    <li><a href="shortcode-blockquotes.html"><i class="ti-quote-right"></i> Blockquotes</a></li>
                                                    <li><a href="shortcode-paginations.html"><i class="ti-arrow-circle-right"></i> Paginations</a></li>
                                                    <li><a href="shortcode-form-elments.html"><i class="ti-share"></i> Form Elements</a></li><li><a href="shortcode-notify.html"><i class="ti-alert"></i>Notification-bar</a></li><li><a href="shortcode-image-text-cards.html"><i class="ti-image"></i>Image+Text cards</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class=" navbar-right-elements">
                    <ul class="list-inline">

                    </ul>
                </div><!--right nav icons-->
            </div>
        </nav>
        <div class="bg-parallax fullscreen parallax-overlay" data-jarallax-video="https://youtu.be/oG5b5llShRg" data-jarallax-original-styles="null">
            <div class="d-flex align-items-center">
                <div class="container">
                    <div class=" row">
                        <div class="col-lg-10 ml-auto mr-auto text-center">
                            <div class="hero-text-style1">
                                <h4 class="text-uppercase text-white-gray h6">welcome to</h4>
                                <h2 class="text-white text-capitalize font700 display-4">NGM Tax Law</h2>
                                <p class="lead text-white-gray">
                                    Corporate, commercial and private tax advice
                                </p>
                                <a href="#" class="btn btn-lg btn-white">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->
        <div class='container-fluid no-padding mb70'>
            <div class='row no-margin mb70 align-items-center'>
                <div class='col-md-4 pt60 pb50 bg-faded'>
                    <div class="media pos-relative">

                        <div class="media-body ">
                            <h4 class="mt-0 mb10 ">Company History</h4>
                            NGM is a specialist law firm focusing on tax. It was founded in 2012 by three former tax partners at CMS who have 75 years of combined expertise. We are equally comfortable working with fellow professional advisors or directly with clients.
                        </div>
                    </div>
                </div>
                <div class='col-md-4 pt60 pb50 bg-faded'>
                    <div class="media pos-relative">

                        <div class="media-body ">
                            <h4 class="mt-0 mb10">Why Choose Us?</h4>
                            Because what you see is what you get and the advice you receive will be provided by senior and experienced practitioners. We are responsive and pragmatic and, if you would prefer, we are happy to work on a fixed fee basis which is fair and transparent.
                        </div>
                    </div>
                </div>

                <div class='col-md-4 pt60 pb50 bg-faded'>
                    <div class="media pos-relative">

                        <div class="media-body ">
                            <h4 class="mt-0 mb10 ">NGM Private</h4>
                            Six years after forming the firm, we recognise that there is a demand for specialist tax advice by high net worth individuals and their families. So in 2018, we launched NGM Private. Read more about NGM Private here. (hyperlink to NGM Private tab if possible)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-heading1 mb60">
            <h3>Team - Circle</h3>
        </div>
        <div class="row pb60">
            <div class="col-lg-3 col-md-6  mb30">
                <div class="team-card-default">
                    <img src="images/team3.jpg" alt="" class="img-fluid rounded-circle">
                    <div class="team-default-content text-center pt30">
                            <h4 class="mb0 text-uppercase">Mel Gibson</h4>
                            <span>Marketing manager</span>
                            <ul class="list-inline pt10">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div><!--/col-->
            <div class="col-lg-3 col-md-6  mb30">
                <div class="team-card-default">
                    <img src="images/team4.jpg" alt="" class="img-fluid rounded-circle">
                    <div class="team-default-content text-center pt30">
                            <h4 class="mb0 text-uppercase">John Doe</h4>
                            <span>Marketing manager</span>
                            <ul class="list-inline pt10">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div><!--/col-->
             <div class="col-lg-3 col-md-6  mb30">
                <div class="team-card-default">
                    <img src="images/team5.jpg" alt="" class="img-fluid rounded-circle">
                    <div class="team-default-content text-center pt30">
                            <h4 class="mb0 text-uppercase">John Doe</h4>
                            <span>Marketing manager</span>
                            <ul class="list-inline pt10">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div><!--/col-->
             <div class="col-lg-3 col-md-6  mb30">
                <div class="team-card-default">
                    <img src="images/team6.jpg" alt="" class="img-fluid rounded-circle">
                    <div class="team-default-content text-center pt30">
                            <h4 class="mb0 text-uppercase">John Doe</h4>
                            <span>Marketing manager</span>
                            <ul class="list-inline pt10">
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"> <i class="fa fa-youtube"></i></a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div><!--/col-->
        </div>
   </div>

        <div class="page-titles-img title-space-lg bg-parallax parallax-overlay mb70" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg8.jpg")'>
            <div class="container">
                <div class="row">
                    <div class=" col-md-8 ml-auto mr-auto">
                        <h1 class='text-uppercase'>this is where we put the small blurb. is this what you had in mind?</h1>

                        <!--                                    <a href='https://www.youtube.com/watch?v=cctFcl5EFYk' class='modal-video btn btn-white-outline btn-lg btn-rounded'>Watch our film</a>
                        -->
                    </div>
                </div>
            </div>
        </div><!--page title end-->

       <div class='container mb40 pt30'>
           <div class='row'>
               <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Web design</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
               <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Marketing</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Development</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
           </div>
            <div class='row'>
               <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Analytics</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
               <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Seo Optimize</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb40">
                    <div class="media">

                        <div class="media-body">
                            <h4 class="mt-0 mb10 text-uppercase">Branding</h4>
                           Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        </div>
                    </div>
                </div>
           </div>
       </div>
       <div class="half-image-content bg-dark">
           <div class="content-img bg-parallax pos-right hidden-md-down" data-jarallax='{"speed": 0.2}' style="background:url(images/img-half1.jpg) no-repeat;">
           </div>
           <img src="images/img-half1.jpg" class="visible-lg-down hidden-lg-up img-fluid" alt="">
           <div class="container">
               <div class="row">
                   <div class="col-lg-5  pt70 pb70">
                       <h2 class="mb40 text-white">
                           Working With Other Advisors
                       </h2>
                       <div class="clearfix text-white-gray">
                           <p>
                             We know that many firms are missing or have limited specialist sectors. It’s therefore no surprise that we frequently take instructions from other professional advisors seeking

                              in depth tax advice for their clients.
                              <p>
                                We will solve complex tax issues for your clients. By incorporating our technical advice into your wider recommendations, you can expand your firm’s range of services and unlock new business opportunities.
                              </p>
                           </p>
                           No transaction is too big. We have access to a number of senior experienced tax practitioners who can assist us if required. We can become part of your team as your partner, not as an additional overhead.
                           <p>
                           </p><br>
                           <a href="#" class="btn btn-white">View Features</a>
                       </div>
                   </div>
               </div>
           </div>
       </div><!--half image section-->
       <div class="container pt90  pb60">
           <div class="row align-items-center">
               <div class="col-lg-6 mb30">
                   <img src="images/sketch1.jpg" alt="" class="img-fluid">
               </div>
               <div class="col-lg-6 mb30">
                   <h2>
                       NGM Private
                     </h2>
                   <p>
                       Are you struggling to understand how to pass on your assets to your children? Do you have a complicated estate with properties abroad? You’re in good company.
                   </p>
                   <p>
                       We recognise that there is increasing demand for expert tax advice by high net worth individuals and their families. That’s why we set up NGM Private in 2018.
                   </p>
                   <p>
                     Tax affairs are challenging. But exposure can be minimised with the right advice. Our extensive experience and expertise will deliver pragmatic solutions to your tax affairs. We are responsive and, if you would prefer, are happy to work on a fixed fee basis which is fair and transparent.


                   </p>
                   <p>No hidden costs. No nasty surprises. Just really good, coherent, specialist tax advice.</p>
               </div>
           </div>
       </div>
       <div class="page-custom-header title-space-lg bg-parallax mb80 parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("https://marketplace.canva.com/MADGv7m-y9c/6/thumbnail_large/canva-man-smiling-while-listening-to-music-MADGv7m-y9c.jpg");background-position:top center;'>
           <div class="container">
               <div class="row">
                   <div class=" col-md-6">
                       <h2 class="text-white">Fee Structure </h2>
                       <p class="text-white-gray">
                            We are acutely aware that cost matters to all of our clients. When offering tax assistance to fellow professional advisors, or directly to our corporate and private clients, we can work on a fixed fee basis, if preferred, which is fair and transparent.

                          Our flexible approach to pricing means that you don’t have to worry about escalating fees. There are no hidden costs and no nasty surprises. Just really good, coherent, specialist tax advice.
                       </p>
                   </div>
               </div>
           </div>
       </div><!--page title end-->
       <div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("images/bg6.jpg")'>
           <div class="container">
               <div class="row">
                   <div class=" col-md-8 ml-auto mr-auto">
                       <h1 class='text-uppercase'>What Others Say About Us </h1>

                   </div>
               </div>
           </div>
       </div><!--page title end-->
       <div class="container pt100 pb100">
           <div class="">
               <div class="">

                   <div id="js-grid-lightbox-gallery" class="cbp">
                       <div class="cbp-item graphic logos">
                           <a href="images/img7.jpg" class="cbp-caption cbp-lightbox" data-title="Workout Buddy<br>by Tiberiu Neamu" rel="nofollow">
                               <div class="cbp-caption-defaultWrap">
                                   <img src="images/img7.jpg" alt="">
                               </div>
                               <div class="cbp-caption-activeWrap">
                                   <div class="cbp-l-caption-alignLeft">
                                       <div class="cbp-l-caption-body">
                                           <div class="cbp-l-caption-title">Workout Buddy</div>
                                           <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                                       </div>
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="cbp-item identity print logos motion">
                           <a href="images/img8.jpg" class="cbp-caption cbp-lightbox" data-title="Digital Menu<br>by Cosmin Capitanu" rel="nofollow">
                               <div class="cbp-caption-defaultWrap">
                                   <img src="images/img8.jpg" alt="">
                               </div>
                               <div class="cbp-caption-activeWrap">
                                   <div class="cbp-l-caption-alignLeft">
                                       <div class="cbp-l-caption-body">
                                           <div class="cbp-l-caption-title">Digital Menu</div>
                                           <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                       </div>
                                   </div>
                               </div>
                           </a>
                       </div>
                       <div class="cbp-item identity motion web-design">
                           <a href="images/img9.jpg" class="cbp-caption cbp-lightbox" data-title="Holiday Selector<br>by Cosmin Capitanu" rel="nofollow">
                               <div class="cbp-caption-defaultWrap">
                                   <img src="images/img9.jpg" alt="">
                               </div>
                               <div class="cbp-caption-activeWrap">
                                   <div class="cbp-l-caption-alignLeft">
                                       <div class="cbp-l-caption-body">
                                           <div class="cbp-l-caption-title">Holiday Selector</div>
                                           <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                                       </div>
                                   </div>
                               </div>
                           </a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="container pt90 pb50">
           <div class="row">
               <div class="col-md-6 mb40">
                   <h4 class="text-uppercase">Address</h4>
                   <p>
                       124, Munna Wali Dhani, Lalchandpura, <br> Jhotwara, Jaipur, 302012
                   </p>
                   <br>
                   <h4 class="text-uppercase">Business hours</h4>
                   <p>
                       Monday-Friday: 8am to 6pm<br>
                       Saturday: 10am to 2pm<br>
                       Sunday: Closed</p>
                   <br>
                   <h4 class="text-uppercase">Email</h4>
                   <p>
                       <a href="#">support@assan.com</a></p>
                   <br>
                   <h4 class="text-uppercase">Phone</h4>
                   <p>
                       <a href="#">+120 234-449-3949</a></p>
                   <br>
                   <h4 class="text-uppercase">Social</h4>
                   <div class="clearfix pt10">
                       <a href="#" class="social-icon si-border si-facebook">
                           <i class="fa fa-facebook"></i>
                           <i class="fa fa-facebook"></i>
                       </a>
                       <a href="#" class="social-icon si-border si-twitter">
                           <i class="fa fa-twitter"></i>
                           <i class="fa fa-twitter"></i>
                       </a>
                       <a href="#" class="social-icon si-border si-g-plus">
                           <i class="fa fa-google-plus"></i>
                           <i class="fa fa-google-plus"></i>
                       </a>
                       <a href="#" class="social-icon si-border si-skype">
                           <i class="fa fa-skype"></i>
                           <i class="fa fa-skype"></i>
                       </a>
                       <a href="#" class="social-icon si-border si-linkedin">
                           <i class="fa fa-linkedin"></i>
                           <i class="fa fa-linkedin"></i>
                       </a>
                   </div>
               </div>
               <div class="col-md-6 pb50">
                   <h2>Nice to hear from you</h2>
                   <p>
                       Suspendisse ut interdum lectus. Integer ac neque faucibus, venenatis nisl quis, pellentesque lacus. Integer et ipsum sit amet dui ultrices hendrerit. Pellentesque leo massa, suscipit a felis non, posuere convallis velit. Sed tincidunt lacinia velit et aliquam.
                   </p>
                   <div class="smart-wrap">
                       <div class="smart-forms smart-container wrap-2">

                           <form method="post" action="smart-form/contact-recaptcha/php/smartprocess.php" id="smart-form">
                               <div class="form-body">
                                   <div class="section">
                                       <label class="field prepend-icon">
                                           <input type="text" name="sendername" id="sendername" class="gui-input" placeholder="Enter name">
                                           <span class="field-icon"><i class="fa fa-user"></i></span>
                                       </label>
                                   </div><!-- end section -->
                                   <div class="section">
                                       <label class="field prepend-icon">
                                           <input type="email" name="emailaddress" id="emailaddress" class="gui-input" placeholder="Email address">
                                           <span class="field-icon"><i class="fa fa-envelope"></i></span>
                                       </label>
                                   </div><!-- end section -->
                                   <div class="section">
                                       <label class="field prepend-icon">
                                           <input type="text" name="sendersubject" id="sendersubject" class="gui-input" placeholder="Enter subjec">
                                           <span class="field-icon"><i class="fa fa-lightbulb-o"></i></span>
                                       </label>
                                   </div><!-- end section -->
                                   <div class="section">
                                       <label class="field prepend-icon">
                                           <textarea class="gui-textarea" id="sendermessage" name="sendermessage" placeholder="Enter message"></textarea>
                                           <span class="field-icon"><i class="fa fa-comments"></i></span>
                                           <span class="input-hint"> <strong>Hint:</strong> Please enter between 80 - 300 characters.</span>
                                       </label>
                                   </div><!-- end section -->
                                   <div class="section">
                                       <label class="field">
                                           <input type="text" id="g-recaptcha-response" name="g-recaptcha-response" class="smart-hidden-elem">
                                           <div id="g-recaptcha" class="g-recaptcha"
                                                data-sitekey="6Le-oQgTAAAAAAodZ8Gxrb2A8EnZ4ngc774U8tgd"
                                                data-expired-callback="recaptchaResetCallback"
                                                data-theme="light"></div>
                                       </label>
                                   </div><!-- end section -->
                                   <div class="result"></div><!-- end .result  section -->
                               </div><!-- end .form-body section -->
                               <div class="form-footer">
                                   <button type="submit" data-btntext-sending="Sending..." class="button btn-primary">Submit</button>
                                   <button type="reset" class="button"> Cancel </button>
                               </div><!-- end .form-footer section -->
                           </form>
                       </div><!-- end .smart-forms section -->
                   </div><!-- end .smart-wrap section -->


               </div>
           </div>
       </div>
        <!--back to top-->
        <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script src="js/plugins/plugins.js"></script>
        <script src="js/assan.custom.js"></script>
        <!-- load cubeportfolio -->
        <script type="text/javascript" src="cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script>
            //projects
            (function ($, window, document, undefined) {
                'use strict';

                // init cubeportfolio
                $('#js-grid-lightbox-gallery').cubeportfolio({
                    filters: '#js-filters-lightbox-gallery1, #js-filters-lightbox-gallery2',
                    layoutMode: 'grid',
                    mediaQueries: [{
                            width: 1500,
                            cols: 4
                        }, {
                            width: 1100,
                            cols: 3
                        }, {
                            width: 800,
                            cols: 3
                        }, {
                            width: 480,
                            cols: 2,
                            options: {
                                caption: ''
                            }
                        }],
                    defaultFilter: '*',
                    animationType: 'flipOutDelay',
                    gapHorizontal: 15,
                    gapVertical: 15,
                    gridAdjustment: 'responsive',
                    caption: 'overlayBottomAlong',
                    displayType: 'sequentially',
                    displayTypeSpeed: 100,
                    // lightbox
                    lightboxDelegate: '.cbp-lightbox',
                    lightboxGallery: true,
                    lightboxTitleSrc: 'data-title',
                    lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>'
                });
            })(jQuery, window, document);
        </script>
    </body>
</html>
